process {
    withName: METHYLDACKEL_MBIAS {
        ext.args = [
            params.mbias_all_contexts ? ' --CHG --CHH' : '',
            params.ignore_flags ? " --ignoreFlags" : '',
            params.methyldackel_mbias_regions ? " -l ${params.methyldackel_mbias_regions}" : '',
            params.extra_methyldackel_mbias_args ?: ''
        ].join(" ").trim()
        publishDir = [
            [
                path: { "${params.outdir}/methyldackel/mbias" },
                mode: params.publish_dir_mode,
                pattern: "*mbias.txt"
            ],
            [
                path: { "${params.outdir}/methyldackel/mbias" },
                mode: params.publish_dir_mode,
                pattern: "*.svg"
            ]
        ]
    }
}
