process {
    withName: METHYLDACKEL_EXTRACT {
        ext.args = [
            params.all_contexts ? ' --CHG --CHH' : '',
            params.merge_context ? ' --mergeContext' : '',
            params.ignore_flags ? " --ignoreFlags" : '',
            params.min_depth > 0 ? " --minDepth ${params.min_depth}" : '',
            params.extra_methyldackel_args ?: ''
        ].join(" ").trim()
        ext.run_methylkit        = params.methyl_kit
        ext.run_cytosine_report  = params.cytosine_report_methyldackel
        publishDir = [
            [
                path: { "${params.outdir}/methyldackel" },
                mode: params.publish_dir_mode,
                pattern: "*.bedGraph"
            ],
            [
                path: { "${params.outdir}/methyldackel" },
                mode: params.publish_dir_mode,
                pattern: "*.methylKit"
            ],
            [
                path: { "${params.outdir}/methyldackel" },
                mode: params.publish_dir_mode,
                pattern: "*.cytosine_report.txt"
            ]
        ]
    }
}
