process {
    withName: 'QUALIMAP_BAMQC_GENOME' {
        ext.args = [
            params.genome.toString().startsWith('GRCh') ? '-gd HUMAN' : '',
            params.genome.toString().startsWith('GRCm') ? '-gd MOUSE' : '',
            params.qualimap_skip_duplicates ? '-sd' : ''
        ].join(" ").trim()
        ext.prefix = { "${meta.id}_genome" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/qualimap/genome/" },
            mode: params.publish_dir_mode,
            pattern: "*",
            enabled: params.run_qualimap
        ]
    }
    withName: 'QUALIMAP_BAMQC_REGIONS' {
        ext.args = [
            params.genome.toString().startsWith('GRCh') ? '-gd HUMAN' : '',
            params.genome.toString().startsWith('GRCm') ? '-gd MOUSE' : '',
            params.qualimap_skip_duplicates ? '-sd' : ''
        ].join(" ").trim()
        ext.prefix = { "${meta.id}_regions" }
        publishDir = [
            path: { "${params.outdir}/${params.aligner}/qualimap/regions/" },
            mode: params.publish_dir_mode,
            pattern: "*",
            enabled: params.run_qualimap
        ]
    }
}
